<div fxLayout="row" class="mat-typography">
    <div fxLayoutAlign="start center">
            <mat-icon svgIcon="friendship"></mat-icon>
            <h1 class="mat-h1" style="margin-top: 0.7em; margin-left: 0.5em"><a routerLink="">Framework Buddy</a></h1>
    </div>
    <div fxLayoutAlign="end center" style="margin-left: 70em" >
            <button mat-raised-button color="primary" [routerLink]="['/form']" style="margin-right: 1em">Zum Fragebogen</button>
            <button mat-raised-button color="link" [routerLink]="['/about']">Mehr Infos</button>
    </div>
</div>

<mat-divider></mat-divider>