<div fxLayout="column" fxLayoutAlign="center center" class="mat-typography" style="min-height: 50em;">
  <mat-icon svgIcon="friendship"></mat-icon>
  <h1 class="mat-h1"><b>Framework Buddy</b></h1>
  <h3 class="mat-h1">Willkommen bei Framework Buddy - Dein guter Freund bei der Auswahl des richtigen Frameworks!</h3>

  <div fxLayout="row">
      <button mat-raised-button color="primary" [routerLink]="['/form']" style="margin: 1em">Leg direkt los!</button>
      <button mat-raised-button color="link" [routerLink]="['/about']"style="margin: 1em">Noch mehr Infos!</button>
  </div>
</div>
