<mat-divider></mat-divider>

<div fxLayout="column" fxLayoutAlign="center center" class="mat-typography">
  <h4 class="mat-h4">Copyright @2019 by Schlemmer, Frederik</h4>

  <h6>Used Images:
    <div>Icons made by <a href="https://www.flaticon.com/authors/flat-icons" title="Flat Icons">Flat Icons</a> from <a
        href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"
        title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"
        title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"
        title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <div>Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a
        href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"
        title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <div>Icons made by <a href="https://www.flaticon.com/authors/icon-monk" title="Icon Monk">Icon Monk</a> from <a
        href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"
        title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        <div>React Icon SVG <a href="https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg" title="React Icon">React Icon</a></div>
        <div>Angular Icon SVG <a href="https://angular.io/assets/images/logos/angular/angular.svg" title="Angular Icon">Angular Icon</a></div>
        <div>Vue.js Icon SVG <a href="https://upload.wikimedia.org/wikipedia/commons/5/53/Vue.js_Logo.svg" title="Vue.js Icon">Vue.js Icon</a></div>
  </h6>
</div>